// Colors
$whiteColor: #fefefe;
$blackColor: #000000;
$mainColor: #a06cd5;
$secondaryColor: #47337f;
$hoverColor: #e2cfea;

// Font
$mainFont: 'Raleway', sans-serif;

//Sizing
$textXXlg:4rem;
$textXlg: 3rem;
$textLg: 2.5rem;
$textXmd:2rem;
$textMd: 1rem;
$textSm: .9rem;

//Weight
$textBold:700;
$textSemiBold:600;
$textMedium: 500;
$textRegular: 400;
$textLigth:300;
$textExtraLigth: 200;
$textThin: 100;